---
import BackgroundHome from "./BackgroundHome.astro"
import BackgroundHome2 from "./BackgroundHome2.astro"
---
<div class="absolute inset-0 z-0">
    <BackgroundHome class=""></BackgroundHome>
    <BackgroundHome2 class=""/> 
</div>
   
