---
import SectionServices from "../servicios/SectionServices.astro"
import SectionProcedimiento from "../procedimiento/SectionProcedimiento.astro"
import SectionAbout from "../acerca/SectionAbout.astro"
import SectionContact from "../contact/SectionContact.astro"

---

<section
	id="Content"
	class="w-full h-max bg-[#F7F9F2] rounded-t-2xl bg-cover lg:rounded-t-[50px] lg:rounded-b-3xl border-white flex justify-center flex-col">
	<SectionServices></SectionServices>
	<SectionProcedimiento></SectionProcedimiento>
	<SectionAbout></SectionAbout>
	<SectionContact></SectionContact>
	
</section>
