---
import ProcedimientoImg from "../../../public/img/procedimiento.webp"
import Proceso1 from "../../components/icons/Proceso1.astro"
import Proceso2 from "../../components/icons/Proceso2.astro"
import Proceso3 from "../../components/icons/Proceso3.astro"
import Proceso4 from "../../components/icons/Proceso4.astro"
import Proceso5 from "../../components/icons/Proceso5.astro"
import Proceso6 from "../../components/icons/Proceso6.astro"
import Proceso7 from "../../components/icons/Proceso7.astro"

---
<section id="procedimiento" class="w-full h-max bg-gray-200 ">
    <div class="flex flex-col lg:flex-row lg:gap-x-10 p-3 lg:p-28 gap-y-10 justify-center items-center align-middle ">
        
            <img src={ProcedimientoImg.src} class="w-full h-94 md:w-4/5 md:h-4/5 lg:w-2/4 lg:h-94 shadow-2xl shadow-black/30 object-cover lg:rounded-3xl" alt="desarrollo web">

        <div class="flex flex-col w-full h-max gap-14 lg:gap-y-10 justify-center items-center lg:items-start lg:justify-start">
            <h1 class="font-dosis font-bold text-4xl text-negroTitulos text-center">Procedimiento para el desarrollo</h1> 
            <div class="flex">
                <div class="flex flex-col w-full h-full gap-6">
                    <div class="flex flex-row w-full items-center gap-12 justify-start ">
                        <div class="rounded-full bg-azulLogo text-white h-14 w-14 flex items-center justify-center"><Proceso1></Proceso1></div>
                        <span class="font-dosis text-lg text-azulPrincipal font-bold justify-start">1. Recibimos tu contacto</span>
    
                    </div>
                    <div class="flex flex-row w-full items-center gap-12 justify-start ">
                        <div class="rounded-full bg-azulLogo text-white h-14 w-14 flex items-center justify-center"><Proceso2></Proceso2></div>
                        <span class="font-dosis text-lg text-azulPrincipal font-bold text-center justify-start">2. Primera Reunion</span>
    
                    </div>
                    <div class="flex flex-row w-full items-center gap-12 justify-start ">
                        <div class="rounded-full bg-azulLogo text-white h-14 w-14 flex items-center justify-center"><Proceso3></Proceso3></div>
                        <span class="font-dosis text-lg text-azulPrincipal font-bold text-center">3. Propuesta Innovadora</span>
    
                    </div>
                    <div class="flex flex-row w-full items-center gap-12 justify-start ">
                        <div class="rounded-full bg-azulLogo text-white h-14 w-14 flex items-center justify-center"><Proceso4></Proceso4></div>
                        <span class="font-dosis text-lg text-azulPrincipal font-bold text-center">4. Inicio del desarrollo</span>
    
                    </div>
                    <div class="flex flex-row w-full items-center gap-12 justify-start ">
                        <div class="rounded-full bg-azulLogo text-white h-14 w-14 flex items-center justify-center"><Proceso5></Proceso5></div>
                        <span class="font-dosis text-lg text-azulPrincipal font-bold text-center">5. Acompañamiento</span>
    
                    </div>
                    <div class="flex flex-row w-full items-center gap-12 justify-start ">
                        <div class="rounded-full bg-azulLogo text-white h-14 w-14 flex items-center justify-center"><Proceso6></Proceso6></div>
                        <span class="font-dosis text-lg text-azulPrincipal font-bold text-center">6. Ajustes Finales</span>
    
                    </div>
                    <div class="flex flex-row w-full items-center gap-12 justify-start ">
                        <div class="rounded-full bg-azulLogo text-white h-14 w-14 flex items-center justify-center"><Proceso7></Proceso7></div>
                        <span class="font-dosis text-lg text-azulPrincipal font-bold text-center">7. Entrega de proyecto</span>
    
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>